<nav class="navbar">
    <div class="container">
        <a href="#" class="navbar-brand">Brand</a>
        <ul class="navbar-menu">
            <li><a [routerLink]="['/']" class="navbar-link">Home</a></li>
            <li><a  [routerLink]="['/products']" class="navbar-link">All Users</a></li>
            <li><a  [routerLink]="['/ausers']" class="navbar-link">Allowed Users <div class="counter">{{counter}}</div></a></li>
            <li><a  [routerLink]="['/forms']" class="navbar-link">Forms</a></li>
            <li><a  [routerLink]="['/signals']" class="navbar-link">Signals Test</a></li>
            <li><a  [routerLink]="['/account']" class="navbar-link">Feature</a></li>
        </ul>
    </div>
</nav>